<fieldset [disabled]="busy" *ngIf="!!song">
    <div class="card">
        <div class="card-header p-2" style="white-space: nowrap;">
            <div class="media">
                <img [src]="song?.asset('cover.jpg')" class="img-thumbnail mr-3" width="64" height="64">
                <div class="media-body">
                    <div class="d-flex">
                        <div>
                            <h5 class="my-0 font-weight-bold" [innerHTML]="song?.title"></h5>
                            <p class="my-0" [innerHTML]="song?.artist"></p>
                            <small class="my-0 text-muted initialism" [innerHTML]="song?.genre"></small>
                        </div>
                        <div class="ml-auto text-center">
                            <p class="badge my-0"
                                [class]="isPlaybackRate('normal') ? 'badge-primary' : 'badge-warning'">
                                <span [innerText]="song!.clock.bpm | number: '1.0-0'"></span>
                                <span>&nbsp;bpm</span>
                            </p>
                            <h3 class="mt-1 mb-0" [innerText]="beat | number"
                                [ngClass]="{ 'text-danger font-weight-bold': beat === 1 }"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-2 text-center">
            <div class="row">
                <div class="col-6 text-center">
                    <p [ngSwitch]="!!section?.description" class="initialism my-0">
                        <small class="text-muted">Section</small>
                        <br>
                        <b *ngSwitchCase="true" class="text-info" [innerText]="section!.description"></b>
                        <span *ngSwitchCase="false" class="text-muted">&mdash;</span>
                    </p>
                </div>
                <div class="col-6 text-center">
                    <p [ngSwitch]="!!measure?.framework" class="initialism my-0">
                        <small class="text-muted">Framework</small>
                        <br>
                        <b *ngSwitchCase="true" class="text-info" [innerText]="measure!.framework"></b>
                        <span *ngSwitchCase="false" class="text-muted">&mdash;</span>
                    </p>
                </div>
            </div>
            <p class="initialism my-0"><small class="text-muted">Phrasing</small></p>
            <div [ngSwitch]="!!section">
                <div *ngSwitchCase="true" class="d-flex flex-row justify-content-center">
                    <div *ngFor="let m of section!.measures; last as isLast">
                        <span [class]="measureClass(m, isLast)"></span>
                    </div>
                </div>
                <span *ngSwitchCase="false" class="text-muted">&mdash;</span>
            </div>
            <div [ngSwitch]="!!measure">
                <div *ngSwitchCase="true" class="d-flex flex-row justify-content-center">
                    <div *ngFor="let tick of measure?.ticks">
                        <i class="text-info fa fa-fw fa-lg" [class]="beat === tick ? 'fa-circle' : 'fa-circle-o'"></i>
                    </div>
                </div>
                <span *ngSwitchCase="false" class="text-muted">&mdash;</span>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="d-flex mb-2 justify-content-center" *ngIf="song!.tracks.groups.length">
                <div class="btn-group btn-group-sm d-none d-sm-block" role="group">
                    <button type="button" class="btn btn-primary initialism"
                        [ngClass]="{ 'active': song!.tracks.isFilter() }"
                        (click)="song!.tracks.setFilter()">All</button>
                    <button type="button" class="btn btn-primary initialism" *ngFor="let group of song!.tracks.groups"
                        [ngClass]="{ 'active': song!.tracks.isFilter(group) }" (click)="song!.tracks.setFilter(group)"
                        [innerText]="group"></button>
                </div>
                <div ngbDropdown placement="bottom" class="d-inline-block mr-2 d-sm-none">
                    <button class="btn btn-primary btn-sm initialism" id="playbackRateDropdown" ngbDropdownToggle>
                        <span [innerText]="song!.tracks.filter || 'All Instruments'"></span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="playbackRateDropdown">
                        <button ngbDropdownItem (click)="song!.tracks.setFilter()">
                            <span class="initialism">All Instruments</span>
                            <i class="fa fa-fw fa-check" *ngIf="song!.tracks.isFilter()"></i>
                        </button>
                        <button ngbDropdownItem *ngFor="let group of song!.tracks.groups"
                            (click)="song!.tracks.setFilter(group)">
                            <span class="initialism" [innerText]="group"></span>
                            <i class="fa fa-fw fa-check" *ngIf="song!.tracks.isFilter(group)"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-group mx-auto">
                <div *ngFor="let track of song!.tracks.active" class="list-group-item d-flex py-2">
                    <div [innerText]="track.description"></div>
                    <div class="btn-group btn-group-sm ml-auto">
                        <button type="button" *ngFor="let volume of ['off', 'down', 'up']" class="btn"
                            [class]="track.isVolume(volume) ? 'btn-primary' : 'btn-outline-primary'"
                            (click)="track.volume(volume, 1)">
                            <i class="fa fa-fw fa-lg" [class]="'fa-volume-' + volume"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer p-2">
            <div class="d-flex">
                <div class="btn-toolbar mx-auto">
                    <div class="btn-group btn-group-sm mr-3 d-none d-sm-block">
                        <button type="button" class="btn btn-primary" [ngClass]="{ 'active': isPlaybackRate(rate) }"
                            *ngFor="let rate of playbackRates" (click)="setPlaybackRate(rate)">
                            <span class="initialism" [innerText]="rate"></span>
                        </button>
                    </div>
                    <div ngbDropdown placement="top-left" class="d-inline-block mr-2 d-sm-none">
                        <button class="btn btn-primary btn-sm initialism" id="playbackRateDropdown" ngbDropdownToggle>
                            <span>Tempo</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="playbackRateDropdown">
                            <button ngbDropdownItem *ngFor="let rate of playbackRates" (click)="setPlaybackRate(rate)">
                                <span class="initialism" [innerText]="rate"></span>
                                <i class="fa fa-fw fa-check" *ngIf="isPlaybackRate(rate)"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" [ngSwitch]="playing">
                        <button type="button" class="btn btn-primary" (click)="first()">
                            <i class="fa fa-fw fa-lg fa-fast-backward"></i>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="play()" *ngSwitchCase="false">
                            <i class="fa fa-fw fa-lg fa-play"></i>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="pause()" *ngSwitchCase="true">
                            <i class="fa fa-fw fa-lg fa-pause"></i>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="next()">
                            <i class="fa fa-fw fa-lg fa-forward"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</fieldset>